:root{
    --fuente-h1-cel: 1.4rem;
    --fuente-h1-web: 2rem;
    --fuente-h2-cel: 2.3rem;
    --fuente-h2-web: 4.5rem;
    --fuente-h3-cel: 2rem;
    --fuente-h3-web: 3.5rem;
    --fuente-h4-cel: 1.2rem;
    --fuente-h4-web: 2.5rem;
    --fuente-h5-cel: 1.4rem;
    --fuente-h5-web: 2.5rem;
    --fuente-parrafo-cel: 1.4rem;
    --fuente-parrafo-web: 1.6rem;
    --fuente-parrafo-encabezado-tabla: 1.4rem;
    --fuente-derechos: .6rem;
    --blanco:#fff;
    --negro: #000;
}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
} 

body{
    background: radial-gradient(ellipse at center, #535355 0%, #050505 100%);
	min-height: 100vh;
	width: 100%;
	font-size: 16px; /* 1 rem = 10px */
}

h1, h2, h3, h4, h5, h6, p, a, label, legend{
    color: var(--blanco);

}

p {
    font-size: var(--fuente-parrafo-cel);
    font-family: AvenirNext, Arial, Helvetica, sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-size: var(--fuente-parrafo-cel)
}

h4{
    font-size: var(--fuente-h4-cel);
}

img{
    max-width: 100%;
}

@media screen and (min-width: 360px){


    /*------ BUSCADOR ESTADISTICAS -------*/

    article{
        width: 95%;
        margin: 0 auto;
    }

    aside{
        padding-bottom: 1rem;
        max-width: 100rem;
    }


    h2 {
        margin: 4rem 0 3rem;
        text-transform: uppercase;
        font-family: 'Teko', sans-serif;
        font-size: 3rem;
        letter-spacing: .1rem;
        text-align: center;
    }

    h3 {
        text-transform: capitalize;
        margin: 2rem 0 1rem;
        font-family: 'Teko', sans-serif;
        line-height: 3rem;
        font-size: 2.6rem;
        letter-spacing: .1rem;
    }


    h4{
        font-size: 1.8rem;
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
        margin: 2rem 0 1rem;
    }

    h5{
        font-size: var(--fuente-h5-cel);
        font-family: 'Baumans', cursive;
        margin-bottom: 1rem;
    }

    .buscador-individual{
        margin-top: 4rem;
    }
    

    .buscador-individual__info,
    .buscador-grupal__info{
        position: relative;
    }

    .imagen-buscador_individual{
        background-image: url(../clasificaciones/Imagenes/fondos/runner-PTDB7VM.jpg);
        width: 100%;
        height: 26rem;
        background-size: cover;
        background-position: right top;
    }

    .imagen-buscador_grupal{
        background-image: url(../clasificaciones/Imagenes/fondos/group-of-spectators-cheering-runners-at-finish-lin-PGRDCFA.jpg);
        width: 100%;
        height: 26rem;
        background-size: cover;
        background-position: right top;
    }

    .buscador-grupal{
        margin-top: 3rem;
    }

    .seleccion-amigos p{
        margin-right: 2rem;
    }

    .seleccion__cantidad-amigos{
        background-color: #1d1d42;
        color: #fff;
        border: .2rem solid #524eee;
        padding: .5rem 2rem;
        position: relative;
        border-radius: 1rem;
        font-family: Montserrat, sans-serif;
    }


    .inputs-individual{
        display: flex;
        margin-top: 3rem;
    }

    .input-dorsal{
        width: 100%;
        height: 4rem;
        max-width: 20rem;
        position: relative;
        overflow: hidden;
    }
    

    .input-dorsal input{
        font-family: 'Megrim', cursive;
        font-size: 1.2rem;
        padding: .5rem 1.5rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        background: none;
        border: none;
        color: #fff;
        padding-top: 2rem;
        outline: 0rem;
        width: 100%;
        height: 100%;
    }

    .lbl-dorsal{
        position: absolute;
        bottom: 0;
        left: 0;
        pointer-events: none;
        border-bottom: 1px solid #c7c7c7;
        width: 100%;
        height: 100%;
    }

    .lbl-dorsal:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -.1rem;
        width: 100%;
        height: 100%;
        border-bottom: .3rem solid #2ecece;
        transform: translateX(-100%);
        transition: all .3s ease;
    }

    .text-dorsal{
        position: absolute;
        bottom: .5rem;
        left: 0;
        transition: all .3s ease;
        color: #fff;
    }

    .input-dorsal input:focus + .lbl-dorsal .text-dorsal,
    .input-dorsal input:valid + .lbl-dorsal .text-dorsal{
        transform: translateY(-200%);
        font-size: 1rem;
        color: #2ecece;
    }

    .input-dorsal input:focus + .lbl-dorsal:after,
    .input-dorsal input:valid + .lbl-dorsal:after{
        transform: translateX(0%);
    }


    .boton-consulta{
        font-family: 'Roboto', sans-serif; 
        font-size: var(--fuente-parrafo-cel);
        background-color: #18d658;
        color: var(--blanco);       
        border: none;
        padding: .7rem 1rem;
        border-radius: .4rem;
        margin-bottom: 2rem;
        margin: 1rem .5rem 3rem;
        height: 3rem;
    }

    .radio-list{
        display: flex;
        gap: 1.5rem;
    }

    .radio-item [type="radio"]{
        display: none;
    }

    .radio-item label{
        display: block;
        padding: .5rem 5rem;
        background: #1d1d42;
        border: .2rem solid rgba(255, 255, 255, 0.1);
        border-radius: .8rem;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 400;
        min-width: 4rem;
        white-space: nowrap;
        position: relative;
        transition: .4s ease-in-out 0s;
    }

    .radio-item label:after,
    .radio-item label:before{
        content: "";
        position: absolute;
        border-radius: 50%;
    }

    .radio-item label:after{
        height: 2rem;
        width: 2rem;
        border: .2rem solid #524eee;
        left: 2.157rem;
        top: 13%;
    }

    .radio-item label:before{
        background: #524eee;
        height: 1rem;
        width: 1rem;
        left: 2.65rem;
        top: 31%;
        transform: scale(5);
        opacity: 0;
        visibility: hidden;
        transition: .4s ease-in-out 0s;
    }

    .radio-item [type="radio"]:checked ~ label{
        border-color: #524eee;
    }

    .radio-item [type="radio"]:checked ~ label:before{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    #btn-comparador{
        opacity: 50%;
        display: none;
    }

    /* ----------- SPINER ----------- */

    .spinner{
        display: none;
        justify-content: center;
        margin-top: 1rem;
        visibility: hidden;
    }

    .sk-chase {
        width: 40px;
        height: 40px;
        position: relative;
        animation: sk-chase 2.5s infinite linear both;
      }
      
      .sk-chase-dot {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0; 
        animation: sk-chase-dot 2.0s infinite ease-in-out both; 
      }
      
      .sk-chase-dot:before {
        content: '';
        display: block;
        width: 25%;
        height: 25%;
        background-color: #fff;
        border-radius: 100%;
        animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
      }
      
      .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
      .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
      .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
      .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
      .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
      .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
      .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
      .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
      .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
      .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
      .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
      .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
      
      @keyframes sk-chase {
        100% { transform: rotate(360deg); } 
      }
      
      @keyframes sk-chase-dot {
        80%, 100% { transform: rotate(360deg); } 
      }
      
      @keyframes sk-chase-dot-before {
        50% {
          transform: scale(0.4); 
        } 100%, 0% {
          transform: scale(1.0); 
        } 
      }

    .dorsal-no-encontrada{
        background-color: #f72f2f;
        width: 80%;
        text-align: center;
        display: none;
        margin-top: 1rem;
    }

    .dorsal-no-encontrada h5{
        margin: 0 auto;
        text-transform: uppercase;
        padding: .3rem 0;
    }

    .contenedor__tabla-estadisticas{
        display: flex;
        justify-content: center;
        position: relative;
    }


    .tabla-estadisticas{
        background-color: #282828;
        margin: 2rem 0;
        min-width: 32rem ;
        border-radius: 2rem;
        box-shadow: 8px 16px 22px -1px rgba(0,0,0,0.75);
        display: none;
        z-index: 1000;
    }

    /* .tabla-estadistirecuadrocas span{
        position: relative;
        top: -.6rem;
    } */

    .tabla-estadisticas_porcentaje-posicion span{
        position: relative;
        top: 0;
    }

    .tabla-estadisticas_porcentaje-posicion{
        height: 8rem;
    }
    
    .recuadro{
        background: linear-gradient(to bottom, #585e53 0%, #292525 10%, #363236 90%, #050505 100%);
        gap: 1rem;
        margin: .6rem 0.2rem;
        min-height: 5rem;
        max-height: 13rem;
        text-align: center;
        border-radius: 1rem;
        box-shadow: .8rem .6rem 1.2rem -0.1rem rgba(0,0,0,0.75);
    }

    .tabla-estadisticas h4{
        font-size: 1.6rem;
    }

    

    .primer-recuadro .recuadro:nth-child(5){
        height: 10rem;
    }

    

    .recuadro p{
        font-size: 1rem;
        margin: 1rem .2rem ;
        text-transform: capitalize;
        font-weight: bold;
        line-height: 1.2rem;
        font-family: 'Merriweather Sans', sans-serif;
    }

    .recuadro span{
        font-style: italic;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
    }

    .tabla-estadisticas h4{
        font-family: 'Mukta', sans-serif;
    }

    .primer-recuadro{
        display: grid;
        grid-template-columns: repeat(1fr, 4);
        grid-template-rows:  repeat(20rem, 3 );
        margin: 0 .8rem;
    }

    .segundo-recuadro{
        display: grid;
        grid-template-columns: repeat(1fr, 3);
        grid-template-rows:  repeat(20rem, 2);
        padding-bottom: 2rem ;
        margin: 0 .8rem;
    }

    .ultima-fila{
        grid-row: 2/3;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(1fr, 2);
    }

    .tabla-estadisticas_ritmo{
        grid-column: 1/2;
    }

    .tabla-estadisticas_velocidad{
        grid-column: 2/3;
    }



    .tabla-estadisticas_header{
        grid-row: 1/2;
        grid-column: 1/5;
        gap: 2rem;
        display: block;
    }

    .tabla-estadisticas_header h4{
        padding: 2rem 2rem 1rem;
        text-align: center;
        margin-top: 0;
    }

    .trofeos{
        display: flex;
        justify-content: center;
        
    }

    .trofeos-fondo{
        background-image: url(../clasificaciones/Imagenes/trofeos/fondo-ganador-pedestal-redondo_png.png);
        background-size: cover;
        height: 9.5rem;
        position: relative;
        top: -.8rem;
    }

    .trofeo-posicion-general,
    .trofeo-posicion-sexo,
    .trofeo-posicion-edad{
        position: relative;
        top: .4rem;
    }

    .tabla-estadisticas_header img{
        box-shadow: none !important;
        height: 5rem;
        position: relative;
        top: .2rem;
    }

    .tabla-estadisticas_nombre{
        position: relative;
    }

    .tabla-estadisticas_nombre img{
        position: absolute;
        height: 3rem;
        margin: 2.8rem .3rem;
    }

    .rotary{
        height: 2.5rem !important;
    }

    .logo-derecha{
        position: absolute;
        top: 0;
        right: 0;
    }

    .tabla-estadisticas_competencia{
        grid-column: 1/2;
        grid-row: 2/3;
        
    }

    .tabla-estadisticas_dorsal{
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .tabla-estadisticas_genero{
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .tabla-estadisticas_edad{
        grid-row: 2/3;
        grid-column: 4/5;
    }

    .tabla-estadisticas_porcentaje-posicion{
        grid-row: 4/5;
        grid-column: 1/5;
    }

    .tabla-estadisticas_porcentaje-posicion span{
        color: #ffae00;
    }

    .primer-recuadro_segunda-fila{
        grid-column: 1/5;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .tabla-estadisticas_tiempo-oficial{
        grid-column: 1/2;
    }

    .tabla-estadisticas_running-team{
        grid-column: 1/3;
    }

    .tabla-estadisticas_posicion-general{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .tabla-estadisticas_posicion-edad{
        grid-column: 3/4;
        grid-row: 1/2;
    }

    

    .barra-fondo{
        width: 90%;
        height: 3rem;
        background-color: #464540 ;
        margin: auto;
        border-radius: 1.5rem;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0px 15px 5px rgb(36, 35, 35);
        position: relative;
        top: -1rem;
    }

    .barra-frontal{
        position: absolute;
        background: linear-gradient(to right, #f7792b 0%, #b34100 70%, #741d00 90%, transparent 100%);
        height: 3rem;
        min-width: 30%;
        max-width: 99%;
        width: 0%;
        margin: auto;
        transition: 1.2s;
        transition-delay: .5s;
    }

    .info-barra{
        position: absolute;
        right: 4rem;
        height: 3rem;
        display: flex;
    }

    .logo-corredor{
        height: 3rem;
        position: absolute;
        right: 0;
        box-shadow: none !important
    }

    /* ------------- DESCARGA IMAGEN ------------- */

    .button {
        position: relative;
        width: 150px;
        height: 40px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border: 1px solid #17795E;
        background-color: #209978;
        overflow: hidden;
        margin: 0 auto;
      }
      
      .button, .button__icon, .button__text {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
      
      .button .button__text {
        -webkit-transform: translateX(22px);
            -ms-transform: translateX(22px);
                transform: translateX(22px);
        color: #fff;
        font-weight: 600;
      }
      
      .button .button__icon {
        position: absolute;
        -webkit-transform: translateX(109px);
            -ms-transform: translateX(109px);
                transform: translateX(109px);
        height: 100%;
        width: 39px;
        background-color: #17795E;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
      
      .button .svg {
        width: 20px;
        fill: #fff;
      }
      
      .button:hover {
        background: #17795E;
      }
      
      .button:hover .button__text {
        color: transparent;
      }
      
      .button:hover .button__icon {
        width: 148px;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
      }
      
      .button:active .button__icon {
        background-color: #146c54;
      }
      
      .button:active {
        border: 1px solid #146c54;
      }

    #downloadTable{
        display: none;
    }

    .info-descarga{
        margin-top: 1rem;
        display: none;
    }

    /* ----------- COMPARADOR -------------- */

    .inputs-colectivo{
        margin-bottom: 5rem;
    }

    .error{
        background-color: #FBE9E7;
        border: .1rem solid #F4511E;
        padding: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        color: #F4511E;
    }

    .correcto{
        background-color: rgb(211, 249, 187);
        border: .1rem solid rgb(50, 167, 0);
        padding: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        color: rgb(4, 150, 50);
    }

    .nombre-amigos{
        display: flex;
        justify-content: space-evenly;
        /* padding-bottom: 1rem; */
        margin-top: 2rem;
        width: 100%;
    }

    .nombre-amigo1,
    .nombre-amigo2,
    .nombre-amigo3,
    .nombre-amigo4,
    .nombre-amigo5{
        text-align: center;
        display: none;
        width: 13rem;
        position: relative;
    }

    .info-amigo{
        height: 100%;
        border: .4rem solid #204675;
        clip-path: polygon(15% 0, 90% 0, 100% 15%, 100% 90%, 90% 100%, 10% 100%, 0 85%, 0 20%);
        background-color: #0e2654d1;
    }

    .nombre-amigo1 p,
    .nombre-amigo2 p,
    .nombre-amigo3 p,
    .nombre-amigo4 p,
    .nombre-amigo5 p{
        font-size: 1.5rem;
        font-family: 'Chakra Petch', sans-serif!important;
        line-height: normal;
        margin: 1rem .5rem;
    }

    .nombre-amigo1 h5,
    .nombre-amigo2 h5,
    .nombre-amigo3 h5,
    .nombre-amigo4 h5,
    .nombre-amigo5 h5{
        font-size: 1.5rem;
        font-family: 'Chakra Petch', sans-serif!important;
        line-height: normal;
        padding-top: .5rem;
        padding: 1rem 0;
    }

    .nombre-amigo1 h5{
        background: linear-gradient(to bottom, rgb(255, 1, 103) 0%, rgb(133, 27, 69) 100%)
    }

    .nombre-amigo2 h5{
        background: linear-gradient(to bottom, rgba(168,71,210,1) 0%, rgb(92, 13, 126) 100%)
    }
    .nombre-amigo3 h5{
        background: linear-gradient(to bottom, rgba(33,219,236,1) 0%, rgb(6, 130, 141) 100%)
    }
    .nombre-amigo4 h5{
        background: linear-gradient(to bottom, rgba(132,255,83,1) 0%, rgb(52, 109, 29) 100%)
    }
    .nombre-amigo5 h5{
        background: linear-gradient(to bottom, rgb(255, 219, 56) 0%, rgb(165, 129, 12) 100%)
    }

    .marco-triangulo-derecho{
        height: .8rem;
        width: 1.6rem;
        transform: rotate(45deg);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background-color: #254762;
        position: absolute;
        top: -.05rem;
        right: -.6rem;
    }

    .marco-triangulo-izquierdo{
        height: .6rem;
        width: 1.2rem;
        transform: rotate(225deg);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background-color: #3578a2;
        position: absolute;
        bottom: .1rem;
        left: -.3rem;
    }

    .marco-triangulo-naranja{
        height: .8rem;
        width: 1.6rem;
        transform: rotate(-45deg);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background-color: #e77d03;
        position: absolute;
        top: 0.1rem;
        left: -.2rem;
    }

    .marco-linea-derecha{
        height: 2rem;
        width: .15rem;
        background-color: #4586c6;
        position: absolute;
        right: 0;
        bottom: 1rem;
        z-index: 10;
    }

    .marco-linea-abajo{
        width: 5rem;
        height: .15rem;
        background-color: #4586c6;
        position: absolute;
        right: 1.4rem;
        bottom: 0;
        z-index: 10;
    }

    /* .muestra-color-amigo1,
    .muestra-color-amigo2,
    .muestra-color-amigo3,
    .muestra-color-amigo4,
    .muestra-color-amigo5{
        margin: .5rem auto;
        height: 1rem;
    }

    .muestra-color-amigo1{
        background: linear-gradient(to right,  rgb(101, 9, 105) 0%, rgba(248,39,123,1) 30%, rgb(255, 1, 103) 100%);
        depth: 0.5rem;
        box-shadow: 
            0.1rem -0.1rem rgb(151, 0, 0),
            0.2rem -0.2rem rgb(151, 0, 0),
            0.3rem -0.3rem rgb(151, 0, 0), 
            0.4rem -0.4rem rgb(151, 0, 0), 
            0.5rem -0.5rem rgb(151, 0, 0), 
            0.5rem -0.5rem transparent, 
            -0.5rem 0.5rem transparent, 
            -0.5rem -0.5rem transparent;
    }

    .muestra-color-amigo2{
        background: linear-gradient(to right,   rgb(11, 25, 102) 0%, rgba(168,71,210,1) 30%, rgba(168,71,210,1) 100%);
        depth: 0.5rem;
        box-shadow: 
            0.1rem -0.1rem rgb(89, 2, 160),
            0.2rem -0.2rem rgb(89, 2, 160),
            0.3rem -0.3rem rgb(89, 2, 160), 
            0.4rem -0.4rem rgb(89, 2, 160), 
            0.5rem -0.5rem rgb(89, 2, 160), 
            0.5rem -0.5rem transparent, 
            -0.5rem 0.5rem transparent, 
            -0.5rem -0.5rem transparent;
    }

    .muestra-color-amigo3{
        background: linear-gradient(to right, rgb(13, 29, 99) 0%, rgba(33,219,236,1) 30%, rgba(33,219,236,1) 100%);depth: 0.5rem;
        box-shadow: 
            0.1rem -0.1rem rgb(1, 108, 117),
            0.2rem -0.2rem rgb(1, 108, 117),
            0.3rem -0.3rem rgb(1, 108, 117), 
            0.4rem -0.4rem rgb(1, 108, 117), 
            0.5rem -0.5rem rgb(1, 108, 117), 
            0.5rem -0.5rem transparent, 
            -0.5rem 0.5rem transparent, 
            -0.5rem -0.5rem transparent;
    }

    .muestra-color-amigo4{
        background: linear-gradient(to right,  rgb(13, 78, 58) 0%, rgba(132,255,83,1) 30%, rgba(132,255,83,1) 100%);
        depth: 0.5rem;
        box-shadow: 
            0.2rem -0.2rem rgb(34, 121, 0),
            0.2rem -0.2rem rgb(34, 121, 0),
            0.3rem -0.3rem rgb(34, 121, 0), 
            0.4rem -0.4rem rgb(34, 121, 0), 
            0.5rem -0.5rem rgb(34, 121, 0), 
            0.5rem -0.5rem transparent, 
            -0.5rem 0.5rem transparent, 
            -0.5rem -0.5rem transparent;
    }

    .muestra-color-amigo5{
        background: linear-gradient(to right, rgb(133, 45, 8) 0%, rgba(255,217,50,1) 30%, rgba(255,217,50,1) 100%);
        depth: 0.5rem;
        box-shadow: 
            0.2rem -0.2rem rgb(175, 130, 5),
            0.2rem -0.2rem rgb(175, 130, 5),
            0.3rem -0.3rem rgb(175, 130, 5), 
            0.4rem -0.4rem rgb(175, 130, 5), 
            0.5rem -0.5rem rgb(175, 130, 5), 
            0.5rem -0.5rem transparent, 
            -0.5rem 0.5rem transparent, 
            -0.5rem -0.5rem transparent;
    } */

    .graficos-estadisticas{
        position: relative;
        margin: 4rem auto;
        display: none;
        min-width: 72rem;
        max-width: 91.3rem;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        padding-bottom: 2rem;
        border: .2rem solid #0a3d68;
    }

    .graficos-barras{
        background: linear-gradient(to bottom, rgba(4, 30, 53, 0.418) 0%, rgba(4, 50, 86, 0.39) 25%, rgba(7, 74, 121, 0.11) 100%);
        height: 25rem;
        width: 45rem;
        display: flex;
        align-items: center;
        margin: 1rem auto;
        position: relative;
    }

    .bordes-grafico{
        height: 2rem;
        width: 2rem;
        border: .1rem solid #ffffff;
        position: absolute;
    }

    .bordes-grafico:nth-child(1){
        top: 0;
        left: 0;
        border-right: none;
        border-bottom: none;
    }

    .bordes-grafico:nth-child(2){
        top: 0;
        right: 0;
        border-left: none;
        border-bottom: none;
    }
    .bordes-grafico:nth-child(3){
        bottom: 0;
        right: 0;
        border-left: none;
        border-top: none;
    }
    .bordes-grafico:nth-child(4){
        bottom: 0;
        left: 0;
        border-right: none;
        border-top: none;
    }

    .graficos{
        height: 20rem;
        padding: 0 1rem 0 0;
        transform: rotateY(180deg);
        transform: rotateX(180deg);
        max-width: 40rem;
        margin: auto;
        border-top: .1rem solid #ffff;
        border-left: .1rem solid #ffff;
        position: relative;
        display: none;
    }

    .flecha-1,
    .flecha-2{
        position: absolute;
        height: 1rem;
        width: 1rem;
        border-right: .1rem solid #ffff;
        border-bottom: .1rem solid #ffff;
    }

    .flecha-1{
        bottom: -.6rem;
        left: -.6rem;
        transform: rotate(45deg);
    }

    .flecha-2{
        top: -.6rem;
        right: -.6rem;
        transform: rotate(-45deg);
    }



    .graficos_barra{
        max-height: 18rem;
        display: grid;
        gap: .4rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        padding: 0 .4rem;
        position: relative;
    }


    .graficos_horizontal-amigo1,
    .graficos_horizontal-amigo2,
    .graficos_horizontal-amigo3,
    .graficos_horizontal-amigo4,
    .graficos_horizontal-amigo5{
        height: 0;
        max-width: 5rem;
        transition: 2s;
        border: .1rem solid #030d4b;
    }


    .graficos_horizontal-amigo1{
        background: linear-gradient(to bottom, #58071f 0%, rgb(167, 18, 78) 30%, rgb(255, 1, 103) 100%);
        depth: 0.5rem;
        box-shadow: 
            0.2rem 0.2rem rgb(151, 0, 0),
            0.3rem 0.3rem rgb(151, 0, 0), 
            0.4rem 0.4rem rgb(151, 0, 0), 
            0.5rem 0.5rem rgb(151, 0, 0), 
            0.5rem -0.5rem transparent, 
            -0.5rem 0.5rem transparent, 
            -0.5rem -0.5rem transparent;
    }

    .graficos_horizontal-amigo2{
        background: linear-gradient(to bottom, rgb(6, 22, 112) 0%, rgb(92, 13, 126) 30%, rgba(168,71,210,1) 100%);
        depth: 0.5rem;
        box-shadow: 
            0.2rem 0.2rem rgb(89, 2, 160),
            0.3rem 0.3rem rgb(89, 2, 160), 
            0.4rem 0.4rem rgb(89, 2, 160), 
            0.5rem 0.5rem rgb(89, 2, 160), 
            0.5rem -0.5rem transparent, 
            -0.5rem 0.5rem transparent, 
            -0.5rem -0.5rem transparent;
    }

    .graficos_horizontal-amigo3{
        background: linear-gradient(to bottom, rgb(13, 29, 99) 0%, rgba(33,219,236,1) 30%, rgba(33,219,236,1) 100%);
        depth: 0.5rem;
        box-shadow: 
            0.2rem 0.2rem rgb(1, 108, 117),
            0.3rem 0.3rem rgb(1, 108, 117), 
            0.4rem 0.4rem rgb(1, 108, 117), 
            0.5rem 0.5rem rgb(1, 108, 117), 
            0.5rem -0.5rem transparent, 
            -0.5rem 0.5rem transparent, 
            -0.5rem -0.5rem transparent;
    }

    .graficos_horizontal-amigo4{
        background: linear-gradient(to bottom, rgb(13, 78, 58) 0%, rgba(132,255,83,1) 30%, rgba(132,255,83,1) 100%);
        depth: 0.5rem;
        box-shadow: 
            0.2rem 0.2rem rgb(34, 121, 0),
            0.3rem 0.3rem rgb(34, 121, 0), 
            0.4rem 0.4rem rgb(34, 121, 0), 
            0.5rem 0.5rem rgb(34, 121, 0), 
            0.5rem -0.5rem transparent, 
            -0.5rem 0.5rem transparent, 
            -0.5rem -0.5rem transparent;
    }

    .graficos_horizontal-amigo5{
        background: linear-gradient(to bottom, rgb(133, 45, 8) 0%, rgba(255,217,50,1) 30%, rgba(255,217,50,1) 100%);  
        depth: 0.5rem;
        box-shadow: 
            0.2rem 0.2rem rgb(175, 130, 5),
            0.3rem 0.3rem rgb(175, 130, 5), 
            0.4rem 0.4rem rgb(175, 130, 5), 
            0.5rem 0.5rem rgb(175, 130, 5), 
            0.5rem -0.5rem transparent, 
            -0.5rem 0.5rem transparent, 
            -0.5rem -0.5rem transparent;
    }

    .graficos_horizontal-amigo5 span{
        height: 1rem;
        width: 7rem;
        color: #000;
        transform: rotate(45deg);
        position: relative;
        top: 0;
        right: -2rem;
    }

    
    #formulario-comparador{
        display: none;
        margin-top: 1.2rem;
    }

    
     /*#formulario-comparador input{
        background: transparent;
        box-shadow: 7px 7px 7px -4px rgba(0,0,0,0.75); 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: #fff;
        margin: 0 2rem 1rem 0;
        font-family: 'Chakra Petch', sans-serif;
        outline: 0;
        height: 2.5rem;
        width: 10rem;
        border-radius: .3rem;
    }*/

    #formulario-comparador input {
        color: rgba(255, 255, 255, 0.744);
        border: 0.2rem solid #524eee;
        border-radius: 6px;
        padding: 0.5rem 2rem;
        background: transparent;
        max-width: 190px;
        width: 13rem;
        margin: 0 2rem 1rem 1.2rem;
        height: 3.5rem;
       }
       
    #formulario-comparador input :active {
        box-shadow: 2px 2px 15px #0741ff inset;
    }

    #formulario-comparador input::placeholder{
        padding-left: .5rem;
        color: rgba(255, 255, 255, 0.744);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
    }

    #formulario-comparador input:focus,
    #formulario-comparador textarea:focus,
    #formulario-comparador select:focus {
        outline: none;
    }

    #formulario-comparador input,
    #formulario-comparador textarea{
        background-color: #1d1d42;
    }

    .buscador-grupal__info button{
        margin-left: 1.2rem;
    }

    .texto-graficos{
        display: flex;
        align-items: center;
        text-align: center;
        display: none;
    }

    .texto-graficos p{
        font-size: var(--fuente-parrafo-cel);
        line-height: 1;
    }

    .seleccion-grafico{
        width: 16rem;
        cursor: pointer;
        font-family: Montserrat,sans-serif;
        font-size: .9em;
        padding: 1rem 1.5rem;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        z-index: 100;
        background: linear-gradient(to bottom, #31b2d1 0%, #1385b6 9%, #0b3768 100%);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

    .sin-seleccion{
        width: 16rem;
        cursor: pointer;
        font-family: Montserrat,sans-serif;
        font-size: .9em;
        padding: 1rem 1.5rem;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation; 
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #0a7aa8 0%, rgba(30,78,126,1) 10%, #02072d 100%);
    }

    .resalta-carpeta{
        margin: .2rem .3rem 0rem 3rem;
        width: 25rem;
        clip-path: polygon(5% 0, 90% 0, 100% 100%, 0% 100%);
        position: relative;
        height: 3rem;
    }

    .titulo-comparaciones{
        margin-left: 2rem;
    }

    .resalta-carpeta:nth-child(1){
        z-index: 50;
    }

    .resalta-carpeta:nth-child(2){
        left: -5rem;
        z-index: 40;
    }
    .resalta-carpeta:nth-child(3){
        left: -10rem;
        z-index: 30;
    }
    .resalta-carpeta:nth-child(4){
        left: -15rem;
        z-index: 20;
    }
    .resalta-carpeta:nth-child(5){
        left: -20rem;  
        z-index: 10;  
    }

    /* .sin-seleccion:nth-child(1){
        z-index: 50;
    }
    .sin-seleccion:nth-child(2){
        z-index: 40;
    }
    .sin-seleccion:nth-child(3){
        z-index: 30;
    }
    .sin-seleccion:nth-child(4){
        z-index: 20;
    }
    .sin-seleccion:nth-child(5){
        z-index: 10;  
    } */



    .graficos-circulares{
        margin: 2rem auto 0;
        width: 95%;
    }

    .graficos-circulares h3{
        display: inline-block;
        border-bottom: .1rem solid white;
        text-transform: capitalize;
        padding: .4rem .8rem;
        background: radial-gradient(ellipse at center, rgba(9,66,237,1) 0%,rgba(0, 0, 0, 0.068) 100%);
        position: absolute;
        font-size: var(--fuente-h5-cel);
        display: none!important;
        /* aca tenemos un titulo arriba del grafico oculto por el momento */
    }

    .graficos-circulares_puesto-general,
    .graficos-circulares_puesto-sexo,
    .graficos-circulares_puesto-edad,
    .graficos-circulares_ritmo,
    .graficos-circulares_tiempo{
        width: 16rem;
        height: 16rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin: auto;
    }

    .caja-circular{
        box-shadow: 0px -53px 19px -25px rgba(0,0,0,0.75);
        height: 1rem;
        width: 9rem;
        position: absolute;
        bottom: 4rem;
        background-color: #171718;
        filter: blur(13px);
        margin: 0 auto;
        
    }

    .circular-progress{
        height: 9rem;
        width: 9rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transform: rotate(-90deg);
        position: relative;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1.5rem;
    }

    .circular-progress:before{
        content: "";
        position: absolute;
        background-color: #323544;
        height: 70%;
        width: 70%;
        border-radius: 50%;
        box-shadow: inset 0px 0px 7px 2px rgba(0,0,0,0.75), 0px 0px 7px 2px rgb(58, 7, 59); ;
        transform: rotate(-90deg);
    }

    .grafico-circular_puesto-general__amigo2 .circular-progress:before{
        box-shadow: inset 0px 0px 7px 2px rgba(0,0,0,0.75), 0px 0px 7px 2px #151e55 ;
    }

    .grafico-circular_puesto-general__amigo3 .circular-progress:before{
        box-shadow: inset 0px 0px 7px 2px rgba(0,0,0,0.75), 0px 0px 7px 2px rgb(13, 29, 99) ;
    }


    .grafico-circular_puesto-general__amigo4 .circular-progress:before{
        box-shadow: inset 0px 0px 7px 2px rgba(0,0,0,0.75), 0px 0px 7px 2px rgb(8, 51, 38);
    }


    .grafico-circular_puesto-general__amigo5 .circular-progress:before{
        box-shadow: inset 0px 0px 7px 2px rgba(0,0,0,0.75), 0px 0px 7px 2px  rgb(70, 24, 4);
    }


    .value-container{
        font-size: 1.5rem;
        color: rgb(255, 253, 253);
        z-index: 100;
        transform: rotate(90deg);
    }

    .carpeta-resultado{
        height: 4rem;
        width: 15rem;
        background-color: #142754;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 1.5rem auto 1rem;
        /* clip-path: polygon(0 5%, 15% 5%, 15% 0%, 85% 0%, 85% 5%, 100% 5%, 100% 95%, 85% 95%, 85% 100%, 15% 100%, 15% 95%, 0 95%); */
        clip-path: polygon(0 10%, 15% 10%, 15% 0%, 85% 0%, 85% 10%, 100% 10%, 100% 90%, 85% 90%, 85% 100%, 15% 100%, 15% 90%, 0 90%);
        box-shadow: inset -2px 1px 14px 6px rgb(34 71 113);
        border: 0.1rem solid #487bfa;
    }

    .titulo-resultado{
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 1.5rem;
        background-color: #132550;
        width: 13rem;
        margin: 0 auto;
        clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 80%, 100% 99%, 0 100%, 0% 80%, 0 10%);
        border: 0.1rem solid #4f82fb;
        text-transform: capitalize;
    }

    .titulo-resultado p{
        font-size: 1.3rem;
    }

    .lado-1{
        width: 3.1048rem;
        height: .1rem;
        background-color: #31b2d1;
        transform: skewY(-75deg);
        position: absolute;
        left: -1.5rem;
        bottom: 0;
    }
    .lado-2{
        width: 3.4rem;
        height: .2rem;
        background-color: #035b80;
        transform: skewY(61.92deg);
        position: absolute;
        right: -1.6rem;
        bottom: 0;
    }

    .resultado{
        color: #fff;
        position: relative;
        opacity: 0;
        transition-duration: 2s;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .4rem;
        font-size: 1.4rem;
        font-family: 'Chakra Petch', sans-serif;
    }


   

    .graficos-circulares span{
        display: block;
        width: 100%;
    }

    

    .base-grafico{  
        background-image: url(../Imagenes/base-resultado.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 5rem;
        width: 11rem;
        position: absolute;
        top: 8.2rem;
        right: -.3rem;
        margin: 0 auto;
    }

    @keyframes waves {
        from{
            background-position: 0rem 0rem;
        }
        to{
            background-position: 108rem 0rem;
        }
    }


    .grafico-circular__amigos{
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border: .8rem solid #063c6b; 
        margin: auto;
        background-image: url(../clasificaciones/Imagenes/fondos/shutterstock_2230381071.jpg);
        background-size: cover;
        mask-repeat: no-repeat;
        background-position: center;
    }

    .grafico-circular__amigo1,
    .grafico-circular__amigo2,
    .grafico-circular__amigo3,
    .grafico-circular__amigo4,
    .grafico-circular__amigo5{
        position: relative;
        margin: 0 .4rem;
    }



    

    /* ----------- FORMULARIO -------------- */

    form h5{
        padding-top: 2rem;
    }

    fieldset{
        border: none;
        padding: 0;
        display: none;
    }

    legend{
        padding: 1rem 0 .5rem;
    }

    legend,label{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: var(--fuente-parrafo-cel);
    }

    .seleccion-amigos{
        font-size: var(--fuente-parrafo-cel);
        display: flex;
        gap: .5rem;
        margin: 2rem 0 2rem 2rem;
        display: none;
    }

    .seleccion-amigos p{
        margin-bottom: .2rem;
        margin-top: 3rem;
    }

    .contenedor_opciones-logo img{
        height: 5rem;
        box-shadow: none ;
    }

    .contenedor_opciones{
        height: auto;
        background-color: #050b24c7;
        display: flex;
    }

    .contenedor_opciones-logo{
        width: 16rem;
        background-color: #14173ab3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor_opciones-logo img{
        height: 5rem;
        box-shadow: none !important;
    }

    .contenedor_opciones h2{
        color: #e77d03;
        padding: 0;
        margin: 1.5rem auto;
    }


     /*------ MENU CLASIFICACIONES -------*/

    
    .llegada-web{
        display: none;
    }

    

    .tabla{
        position: relative;
        margin: 2rem 1rem 1rem ;
        min-width: 90rem;
        max-width: 130rem;
    }

    .li,
    .li-filtrado{
        display: block;
    }

    .container{
        margin-top: 4rem;
    }
    

   

    .list{
        width: 100%;
        min-height: 0;
        max-height: 9rem;
        overflow: hidden;
        list-style: none;
        transition: 1s;
    }

    .list-submenu{
        max-height: 3rem;
    }

    .list-submenu .contenedor{
        width: 90%;
    }
    
    

    .encabezadomenu,
    .encabezadosubmenu{
        display: flex;
        position: relative;
        transition: .5s;
    }

    .menu{
        width: 100%;
        margin-bottom: 3rem;
    }

    .encabezadomenu {
        font-size: 15px;
        padding: 3rem 2.7em;
        letter-spacing: 0.06em;
        position: relative;
        font-family: inherit;
        border-radius: 0.6em;
        overflow: hidden;
        transition: all 0.3s;
        line-height: 1.4em;
        border: 2px solid ;
        background: linear-gradient(to right, rgba(71, 71, 71, 0.349) 1%, transparent 40%,transparent 60% , rgba(46, 48, 47, 0.541) 100%);
        color: #252525;
        box-shadow: inset 0 0 10px rgba(153, 152, 152, 0.4), 0 0 9px 3px rgba(94, 95, 95, 0.1);
        transition: 1s;
        display: flex;
        align-items: center;
      }
      
      .encabezadomenu:hover {
        box-shadow: inset 0 0 15px rgba(0, 253, 143, 0.753), 0 0 6px 3px rgba(2, 150, 86, 0.445);
      }

      .encabezadomenu:hover p{
        color: #09f38d;
      }
      
      .encabezadomenu:before {
        content: "";
        position: absolute;
        left: -6em;
        width: 10rem;
        height: 100%;
        top: 0;
        transition: transform .5s ease-in-out;
        background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
      }
      
      .encabezadomenu:hover:before {
        transform: translateX(130rem);
      }


    li.li{
        transition: .2s;
    }


    .li a,
    .li-filtrado a,
    .team-filtrado a,
    .encabezadosubmenu p,
    .encabezadosubmenu-texto{
        font-family: 'Laila', sans-serif;        
        font-size: 1.4rem;
        transition: .1s;
        display: block;
        padding: .8rem 0 .8rem 2rem;
    }

    .encabezadomenu p,
    .encabezado p,
    .clasificacion-directa{
        font-family: 'Pragati Narrow', sans-serif;
        font-size: var(--fuente-parrafo-web);
        color: #fff;
        user-select: none;
        font-weight: bold;
    }

    

    /* .li:hover,
    .li-filtrado:hover,
    .team-filtrado:hover,
    .encabezadosubmenu:hover{
        transform: scale(1.02);
        border-bottom: 1px solid #333;
        background: linear-gradient( to bottom, #68e4ff, #3bafc8, #145a69);
        padding-left: 3rem;
    } */

    

    .li:hover a,
    .li-filtrado:hover a,
    .team-filtrado:hover a,
    .encabezadosubmenu p:hover{
        transform: scale(1.04);
        margin-left: 3rem;
    }

    .ul2{
        width: 98%;
        margin: 0 auto;
    }


    .ul2 .li,
    .ul2 .li-filtrado,
    .ul2 .team-filtrado,
    .ul2 .encabezadosubmenu {
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: white;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        text-decoration: none;
        overflow: hidden;
        z-index: 1;
        border-radius: 0.4em;
        border: 2px solid #363636;
        font-family: inherit;
        box-shadow: inset 0 0 5px rgba(96, 118, 119, 0.6), 0 0 9px 3px rgba(66, 83, 87, 0.2);
    }

    .ul2 .li-filtrado{
        border: 2px solid #171718;
        width: 80%;
    }
       
    .li::before,
    .li-filtrado::before,
    .team-filtrado::before,
    .encabezadosubmenu::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 90%;
        height: 100%;
        /* background-color: #00a740; */
        background: radial-gradient(ellipse at center, #228543 0%, #01742d 100%);
        transform: translateX(-100%);
        transition: all .5s;
        z-index: -1;
        border-radius: 0.4em;
        border: 2px solid #00c257;
        width: 100%;
       }

       .li-filtrado::before{
        background: radial-gradient(ellipse at center, #2e7272 0%, #005a70 100%);
        border-radius: 0.2em;
        border: 2px solid #00fff2;
        width: 100%;
       }
       
    .li:hover::before,
    .li-filtrado:hover::before,
    .team-filtrado:hover::before,
    .encabezadosubmenu:hover::before {
        transform: translateX(0%);
       }

    i {
        margin-right: 2rem;
        color: #fff;
        position: absolute;
        right: 0;
        margin-top: 2.2rem;
        transform: scale(.5);
    }

    .encabezadosubmenu i {
        margin-top: 1rem;
        transform: scale(.5);
    }

    .fa-chevron-down {
        transition: 0.3s;
        position: absolute;
        top: 1.5rem;
    }

    .contenedor-TC{
        max-width: 105rem;
    }

    .scale{
        height: 100%;
        max-height: 197rem;
        transition: 1s;
    }

    .rotate{
        transform: rotate(180deg);
    }

    #tabclasificaciones{
        position: relative;
        display: none;
    }

    #tabclasificaciones .bloque{
        position: absolute;
        top: 0;
        transition: all 0.4s ease;
        margin: 0 auto;
        display: none ;
        opacity: 0;
    }

    #tabclasificaciones .bloque.activo{
        display: inline;
        opacity: 1;
        display: inherit;
    }

    .bloque-filtrado,
    .medallero-team{
        position: absolute;
        top: 0;
        transition: all 0.4s ease;
        margin: 0 auto;
        display: inline ;
        opacity: 1;
    }

    .encabezadosubmenu p{
        font-size: 1.4rem;
    }

    .encabezadosubmenu .fas{
        position: absolute;
        top: -.2rem;
    }


    /*------ TABLA CLASIFICACIONES -------*/


    .intro-tablas{
        margin-bottom: 3rem;
    }

    #tabclasificaciones h4{
        text-align: center;
    }

    .encabezado-tabla{
        background: linear-gradient( to bottom, #808080 0%, #333333 12%, #5f5b5b 88%, #172831 100%);
    }

    .encabezado-tabla p{
        font-size: var(--fuente-parrafo-encabezado-tabla);
    }

    #menu-clasificaciones{
        padding-bottom: 4rem;
    }

    .tabla-medallero table{
        max-width: 80rem;
    }
    
    .tabclasificaciones{
        position: relative;
        min-height: 10vh;
    }

    tr{
        color: #fff;
    }

    .encabezado-posicion{
        background: linear-gradient( to bottom, #ffb005 0%, #cc7d07 12%,#cc7d07 82%, #442b06 100%);
    }

    thead tr{
        position: sticky;
        top: 0;
    }

    thead th{
        border-left: 0.1rem solid #6b6b6b;
        padding: .8rem .4rem;
    }

    tr{
        background: linear-gradient( to bottom, #3d565e, #0d1112, #010203);
        transition: 0.1s;
    }



    .datos-corredores p{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        padding-top: .3rem;
        padding-bottom: .3rem;

        
    }


    .datos-corredores tr:hover{
        background: linear-gradient( to bottom, #3d565e, #0d1112, #588ac4);
        transform: scale(1.02);
        transition: .2s;
        
    }

    table{
        width:100%;
        border-collapse:collapse;
        margin:.5em 0;
    }


    th, td{
        text-align:left;
        padding:.6rem 0.4rem;
        text-align: center;
        text-transform: capitalize;
    }

    .datos-corredores p{
        text-transform: capitalize;
        font-size: var(--fuente-parrafo-cel);
    }
    
    th :nth-child(1),
    th :nth-child(2){
        padding: .5rem .2rem;
    }

    tbody tr:nth-child(1){
        background: linear-gradient(to bottom, #f7dd88 0%, #baa145 40%, #24210e 100%);
    }

    tbody tr:nth-child(1):hover td{
        transform: scale(1.08);
        background: linear-gradient(to bottom, #f7dd88 0%, #baa145 40%, #24210e 100%);
    }

    tbody tr:nth-child(2){
        background: linear-gradient(to bottom, #dbdcde 0%, #8b8d96 40%, #262526 100%);
    }

    tbody tr:nth-child(2):hover td{
        transform: scale(1.08);
        background: linear-gradient(to bottom, #dbdcde 0%, #8b8d96 40%, #262526 100%);        
    }

    tbody tr:nth-child(3){
        background: linear-gradient(to bottom, #eabb91 0%, #ba6f4d 40%, #4b2013 100%);
    }

    tbody tr:nth-child(3):hover td{
        transform: scale(1.08);
        background: linear-gradient(to bottom, #eabb91 0%, #ba6f4d 40%, #4b2013 100%);
    }





    /*---- FOOTER ----*/

    footer{
        height: auto;
        padding: 1rem;
        background-color: #181818;
    }

    .contacto{
        display: none;
    }

    .contacto-mobile,
    .footer-redes{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }

    .contacto p:nth-child(1),
    .contacto-mobile p:nth-child(1){
        text-transform: uppercase;
    }

    footer img{
		height: 4rem;
		width: 4rem;
		margin: 2.5rem auto 0;
	}

    .footer-nav{
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        gap: .3rem;
    }

    .derechos{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }

    .derechos p{
        font-size: var(--fuente-derechos);
    }


}

































@media (min-width: 768px) {

    h1{
        font-size: var(--fuente-h1-web);
    }

    h2{
        font-size: var(--fuente-h2-web);
    }

    h3{
        font-size: var(--fuente-h3-web);
    }

    h4{
        font-size: var(--fuente-h4-web);
    }

    p{
        font-size: var(--fuente-parrafo-web);
        line-height: 2.6rem;
    }

    a{
        font-size: var(--fuente-parrafo-web);
    }

    

    .detalles__buscador-individual{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
          "img title"
          "img text"
          "img input";
        gap: 20px;
        padding: 3rem ;
        box-shadow: 10px 10px 18px -7px rgba(0,0,0,0.75);
        background: radial-gradient(ellipse at center, #5f5e5e 0%, #52524f 11%, #1f1f1e 100%);
    }

    
    .imagen-buscador_individual{
        grid-area: img;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 70% 100%, 0% 99%);
    }

    .buscador-individual__info h4{
        grid-area: title;
    }

    .buscador-individual_parrafo{
        grid-area: text;
    }

    .inputs-individual{
        grid-area: input;
    }

    .detalles__buscador-grupal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
          "title img"
          "text img"
          "input img";
        gap: 20px;
        padding: 3rem ;
        box-shadow: 10px 10px 18px -7px rgba(0,0,0,0.75);
        background: radial-gradient(ellipse at center, #5f5e5e 0%, #52524f 11%, #1f1f1e 100%);
    }

    
    .imagen-buscador_grupal{
        grid-area: img;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: left;
        clip-path: polygon(0 30%, 0% 0%, 100% 0%, 100% 100%, 30% 100%);
    }

    .buscador-grupal__info h4{
        grid-area: title;
    }

    .buscador-grupal__info p{
        grid-area: text;
    }

    #acceder-consulta-grupal{
        grid-area: input;
    }



    .container h3{
        padding: 2rem 0;
    }


    .competencias_2022 h4{
        text-transform: capitalize;
        margin-top: 2rem;
        font-size: var(--fuente-h4-web);
    }

    .contenedor__tabla-estadisticas{
        margin-top: 8rem;
    }



    .tabla-estadisticas h4{
        padding: 2rem 2rem 3rem ;
        font-size: 2.5rem;
    }


    .tabla-estadisticas_header img{
        height: 5rem;
    }

    .rotary{
        height: 4rem !important;
    }

    .trofeos-fondo{
        height: 16rem;
        position: relative;
        top: -3rem;
    }

    .trofeo-posicion-general img,
    .trofeo-posicion-sexo img,
    .trofeo-posicion-edad img{
        height: 7.5rem;
        top: 2rem;
    }

    .recuadro{
        gap: 2rem;
        margin: .6rem .6rem;
        height: 8rem;
    }

    .recuadro p{
        font-size: var(--fuente-parrafo-web);
        margin: 2rem 1.6rem;
        line-height: .9;
    }

    .recuadro span{
        font-size: 1.8rem;
    }

    .primer-recuadro{
        position: relative;
        top: -2rem;
    }

    .segundo-recuadro{
        position: relative;
        top: -2rem;
    }

    .tabla-estadisticas_porcentaje-posicion{
        height: 10rem;
    }

    .barra-fondo{
        margin-top: -1rem;
    }

    .info-barra p{
        position: relative;
        margin: auto;
    }
    
    .flyers-inscripcion{
        height: 20rem;
   }

   .botones-inscripcion img{
    height: 14rem;
    }



    /*------ ESTADISTICAS Y CLASIFICACIONES ------*/

    .intro-tablas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "title img"
            "text img";
        gap: 20px;
        padding: 3rem;
        box-shadow: 10px 10px 18px -7px rgba(0,0,0,0.75);
        background: radial-gradient(ellipse at center, #5f5e5e 0%, #52524f 11%, #1f1f1e 100%);
        margin-bottom: 3rem;
    }

    .llegada-cel{
        display: none;
    }

    .llegada-web{
        display: inherit;
        grid-area: img;
    }

    .intro-tablas h4{
        grid-area: title;
    }

    .texto-tabla{
        grid-area: text;
    }


    .circular-amigos{
        display: flex;
        justify-content: space-evenly;
    }
    

   
    
    .seleccion-amigos p{
        margin-right: 2rem;
    }

    .seleccion__cantidad-amigos{
        background-color: #1d1d42;
        color: #fff;
        border: .2rem solid #524eee;
        padding: .5rem 2rem;
        position: relative;
        border-radius: 1rem;
        font-family: Montserrat, sans-serif;
    }


    .inputs-individual{
        display: flex;
        margin-top: 3rem;
    }

    .input-dorsal{
        height: 5rem;
    }

    /* -------- COMPARADOR --------- */

    .boton-consulta{
        font-size: 1.4rem;
        margin-top: 2rem;
    }

    .wave-fill{
        height: 8rem;
        margin-top: 1rem;
        width: 10rem;
        border-radius: 1rem;
        overflow: hidden;
    }

    .container{
        margin-top: 10rem;
    }

    .circular-progress:before{
        content: "";
        position: absolute;
        background-color: #323544;
        height: 75%;
        width: 75%;
        border-radius: 50%;
        box-shadow: inset 0px 0px 7px 2px rgba(0,0,0,0.75), 0px 0px 7px 2px rgb(58, 7, 59); ;
        transform: rotate(-90deg);
    }

    .graficos-circulares h3{
        display: inline-block;
        border: .2rem solid white;
        text-transform: capitalize;
        padding: .4rem .8rem;
        background-color: #0077ff;
        position: absolute;
    }

    #bg-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    
    
    .resultado{
        font-size: 1.8rem;
    }

    /*------ MENU CLASIFICACION ------*/

    .li:hover{
        padding-left: 2rem;
    }


    /*------ TABLA ------*/

    .list-submenu{
        max-height: 4rem;
    }

    .scale{
        max-height: 97rem;
        transition: 1s;
        height: auto;
    }

    .tabla{
        margin: 2rem auto;
    }

    /*---- FOOTER ----*/

    .contacto{
        display: inherit;
    }

    .contacto-mobile{
        display: none;
    }

    #div-img__mg2023{
        width: 30rem;
        height: 38rem;
    }

    footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 2rem;
    }

    .contacto,
    .contacto-mobile {
        grid-row: 1/2;
        grid-column: 1/2;
        margin: 2rem 0 2rem 3rem;
    }

    .contacto p:nth-child(1),
    .contacto-mobile p:nth-child(1){
        text-transform: uppercase;
    }

    .footer-redes{
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logos-seguinos img{
		height: 4rem;
		width: 4rem;
		margin: 2.5rem auto;
	}

    .footer-nav{
        grid-row: 1/2;
        grid-column: 3/4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        margin: 1rem 3rem 2rem 0;
    }

    

    .derechos{
        grid-row: 2/3;
        grid-column: 1/4;
        text-align: center;
    }

    .derechos p{
        font-size: var(--fuente-parrafo-cel);
    }


    .seleccion-competencia{
        padding: 10rem;
    }


    
}

